// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
  color: black;
}

h1 {
  font-size: 40px;
  color: purple;
}

a {
  text-decoration: none;
  color: black;
}

.details {
  padding: 20px;
  border: 2px;
  border-color: black;
  border-radius: 5px;
  background-color: lightgray;
}

.completed {
  padding: 20px;
}
